* {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}
a {
  color: #353535;
  cursor: pointer;
}
a:hover {
  color: #353543;
}
.tx-white {
  color: rgb(252, 252, 252);
}
.text-black {
  color: #353535;
}
.custom-btn {
  width: 50%;
  margin: auto;
  background-color: rgb(61, 130, 190);
  color: #fff;
  padding: 10px 0px;
  border: none;
  display: block;
  margin: auto;
  border-radius: 5px;
  box-shadow: none;
  transition: opacity 0.3s;
}
.custom-btn:focus {
  outline: none;
}
.custom-btn.disabled {
  pointer-events: none;
  opacity: 0.6;
}
.dashboard {
  background-color: #353535;
  height: 100vh;
}
/* start search form */
.input-search {
  height: 45px;
}
.btn-search {
  height: 45px;
  width: 100px;
  border-radius: 0%;
}
/* admin products */
.admin-product-item .delete-product,
.admin-product-item .update-product {
  font-size: 20px;
  padding: 5px 9px;
  border-radius: 3px;
  color: #eee;
  cursor: pointer;
}
