<%- include('parts/header.ejs') %>
<%- include('parts/navbar.ejs') %> 
<div class="products mt-5">
    <div class="container-fluid">
        <div class="products-content row"></div>
    </div>
</div>
<%- include('parts/bottom.ejs') %> 
<script src="/js/index.js"></script>
</html>